.myContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    max-width: 100%;
}
.leftSideBar{
    background-color: #4D394B;
    color: #AB9BA9;
    height: 100vh;
    max-width: 100&;
}
#username{
    text-align: center;
    font-size: 18px;
    margin-top:18px;
}
#username:hover{
    color: #ffffff;
}
.sendMsg{
    position: absolute;
    bottom:0%;    
    margin-left: 18px;
    margin-right: 18px;
    width: 120vh;
}
.messageGroup{
    overflow-y: scroll;
    height: 70vh;
    width: 160vh; 
    position: absolute;
    bottom: 12vh;
    word-wrap: break-word;
    li{
        overflow: hidden;
        width: 50%;
        margin: 5px;
        word-wrap: break-word;
    }
}
.mainArea{
    max-width: 150%;
}
.logout{
    position: absolute;
    top: 7vh;
    left: 12vh;
    button{
        border: none;
        background-color: #4D394B;
    }
    button:hover{        
        border: none;
        color: #4D394B;
        background-color: #AB9BA9;
    }
}
#addChannely{
    border: none;
    color: #AB9BA9;
    font-size: 14px;
   float: right;
   margin-right:10px; 
}
#addChannely:hover{
font-size: 15px;
color: #ffffff;
}
.mychannel{
    margin-top: 10vh;
text-align: center;
ul{
    margin-top: 2vh;
}
li{
    overflow: hidden;
    font-size: 14px;
}
li:hover{
    color: #ffffff;
    font-size: 14px;
    overflow: hidden;
}
}
.searchChannel{
    position: relative;
    margin:18px;
    height: 10vp;
    z-index: 99 !important; 
li{
    overflow: hidden;
}
}
#phone{
    font-size: 200%;
    margin-top: 4%
}

#cog{
    margin-top: -2%;
    font-size: 200%;
}

#send{
    margin-right: -5%;
    margin-top: -5%;
    clear:both;
    border:none;
    float:right;
}
#data{
    overflow: hidden;
    list-style: none;
}

li:hover{
    background-color: rgb(229, 243, 243);
    cursor: pointer;
}